<%= turbo_frame_tag dom_id(reply) do %>
  <div data-controller="replies" data-replies-id-value=<%=reply.id%> data-replies-comment-id-value=<%=reply.comment.id%>  data-replies-post-id-value=<%=reply.comment.post.id%>  style="margin-left: 5rem;">
    <div id="reply-<%=reply.id%>" >
      <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <%= reply.description %>
      </p>
      <p class="my-5" style>
        <strong class="block font-medium mb-1">User:</strong>
        <%= reply.user_id %>
      </p>
    </div>
    <div id="reply-<%=reply.id%>-form" style="display: none;">
      <%= render 'replies/form', reply: reply, comment: reply.comment, post: reply.comment.post %>
    </div>
    <a data-action="click->replies#editReply" id="edit-reply-<%=reply.id%>-button"> 
      Edit
    </a>
    <a data-action="click->replies#deleteReply" id="delete-reply-<%=reply.id%>-button"> 
      Delete
    </a>
    <a data-action="click->replies#cancelEditReply" id="cancel-edit-reply-<%=reply.id%>-button" style="display: none;"> 
      Cancel
    </a>
    <hr class="mt-6">
  </div>
<% end %>
