<%= turbo_frame_tag dom_id(comment) do %>
  <div data-controller="comments" data-comments-id-value=<%=comment.id%> data-comments-post-id-value=<%=comment.post_id%> style="margin-left: 5rem;">
    <div id="comment-<%=comment.id%>">
      <p class="my-5">
        <strong>
          <%= comment.description %>
        </strong>
      </p>
    </div>
    <div id="comment-<%=comment.id%>-form" style="display: none;">
      <%= render partial: 'comments/form', locals: { comment: comment, post: comment.post } %>
    </div>
    <a data-action="click->comments#editComment" id="edit-comment-<%=comment.id%>-button"> 
      Edit
    </a>
    <a data-action="click->comments#deleteComment" id="delete-comment-<%=comment.id%>-button"> 
      Delete
    </a>
    <a data-action="click->comments#cancelEditComment" id="cancel-edit-comment-<%=comment.id%>-button" style="display: none;"> 
      Cancel
    </a>
    <% if !comment.reply.present? %>
      <%= link_to "Reply", new_post_comment_reply_path(comment.post,comment), id: "reply-comment-#{comment.id}-button", data: { turbo_frame: "comment_reply_#{comment.id}_frame" } %>
    <% end %>
    <%= turbo_frame_tag "comment_reply_#{comment.id}_frame" do%>
      <% if comment.reply.present? %>
        <%= render partial: 'replies/reply', locals: { reply: comment.reply } %>
      <%end %>
    <%end%>
  </div>
<% end %>
